/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import 'leaflet/dist/leaflet.css';

:root {
    --ion-color-primary: #455269;
    /* Habano clarito */
    --ion-color-primary-rgb: 210, 180, 140;
    --ion-color-primary-contrast: #797b7f;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #b89c78;
    --ion-color-primary-tint: #d8bfa0;

    --ion-background-color: #455269;
    --ion-text-color: #847e7e;
    /* Color del texto */
}

body {
    font-family: 'Roboto Condensed', sans-serif;
  }
  

  /* En tu CSS */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }