/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import 'leaflet/dist/leaflet.css';

:root {
    --ion-color-primary: #455269;
    /* Habano clarito */
    --ion-color-primary-rgb: 210, 180, 140;
    --ion-color-primary-contrast: #797b7f;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #b89c78;
    --ion-color-primary-tint: #d8bfa0;

    --ion-background-color: colors.bgColor;
    --ion-text-color: #847e7e;
    /* Color del texto */
}

body {
    font-family: 'Pacifico', 'Pacifico';
  }

  .pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  

  /* En tu CSS */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }